.bio {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 30px;
}

.course-heading {
    padding: 10px;
}

.course-list {
    font-family: Tahoma, Geneva, sans-serif;
    padding: 10px;
}

.course {
    padding: 10px;
}

.course-entry {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
}

.bio {
    padding: 10px;
}

.bio-image {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.infobox-list {
    font-family: Tahoma, Geneva, sans-serif;
}

.infobox {
    padding: 10px;
}

.infobox-heading {
    border: 2px lightgrey;
    border-style: none none solid none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.bio-heading {
    border: 2px lightgrey;
    border-style: none none solid none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.kurs-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.bio-image {
    border-radius: 2px;
}

.imagebox {
    padding: 10px;
}

.imagebox-image {
    border-radius: 2px;
    padding: 5px;
}